.home{
   
  
   
   
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 95vh;
   
}
.text{
    display:flex;
    flex-direction: column;
}

.text h1{
    font-size: 3.5rem;
    letter-spacing: 2px;
}

.text span{
    color:var(--main-color);
}

.text p{
    margin: 00.5rem 0 1rem;
}
.app-stores{
    margin-left: 2%;
}
.app-stores img{
    width: 100%;
    margin-right: 1rem;
    cursor: pointer;
}
.form-container form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-top: 30%;
   
    background: #fff;
    padding:20px;
    border-radius: 0.5rem;
}

.input-box {
    flex: 1 1 7rem ;
    display: flex;
    flex-direction: column;
}
.input-box span{
    font-weight:500;
}
.input-box input{
    padding:7px;
    outline:none;
    border:none;
    background:#eeeff1;
    border: radius 0.5rem;
    font-size:1rem;
}
.form-container form .btn{
        flex: 1 1 7rem;
        padding :10px 34px;
        border:none;
        border-radius: 0.5rem;
        background: #474fa0;
        color: #fff;
        font-size: 1rem ;
        font-weight:500;
}
.form-container form  .btn:hover {
    background: var(--main-color);
    color:#474fa0;
    border:1px solid #474fa0;
}